body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --regular-12: Roboto;

  /* font sizes */
  --regular-12-size: 12px;
  --medium-16-size: 16px;
  --bold-26-size: 26px;
  --regular-14-size: 14px;
  --medium-36-size: 36px;
  --medium-50-size: 50px;
  --regular-18-size: 18px;

  /* Colors */
  --colour-secondary-white-100-general: #fff;
  --colour-main-grey-600: #5d6970;
  --colour-main-blue-900: #091133;
  --colour-logo-primary: #37447e;
  --colour-main-blue-700: #222f65;
  --color-darkslateblue-100: #111b47;
  --colour-main-blue-300: #929ecc;
  --colour-main-grey-400: #939ea4;
  --colour-main-blue-400: #6f7cb2;
  --colour-main-blue-500: #505f98;

  /* Gaps */
  --gap-7xs: 6px;
  --gap-41xl: 60px;
  --gap-base: 16px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-146xl: 165px;

  /* border radiuses */
  --br-11xs: 2px;
}
